.pokemon-card-wrapper {
  width: 40%;
  height: 75vh;
  display: flex;
  .pokemon-card-box {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    border-radius: 24px;
    flex-direction: column;
    box-shadow: 5px 5px 15px 2px #c9c9c9;
    .box-top {
      width: 100%;
      height: 45%;
      padding: 1rem 1.5rem 0;
      font-family: 'Poppins', sans-serif;
      position: relative;
      .back-icon {
        height: 30px;
        display: none;
        cursor: pointer;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 4;
        .name {
          font-size: 2rem;
          font-family: 'Poppins', serif;
          font-weight: 600;
          color: #f5f6f7;
        }
        .love-icon {
          width: 36px;
          height: 36px;
          cursor: pointer;
          * {
            pointer-events: none;
          }
          &.active {
            svg path{
              fill: #f5f6f7;
            }
          }
        }
      }
      .types-id {
        color: #f5f6f7;
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 4;
        .types {
          display: flex;
          .type {
            width: fit-content;
            margin: .5rem 0;
            margin-right: .5rem;
            padding: .25rem .5rem;
            color: #fff;
            font-size: 1rem;
            text-align: center;
            border-radius: 20px;
            background-color: #ffffff30;
          }
        }
        .id {
          font-weight: 600;
        }
      }
      .pokemon-image {
        position: absolute;
        bottom: -2rem;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);
        display: flex;
        img {
          width: 300px;
          height: 300px;
        }
      }
      .pokemon-ball {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-radius: 32px;
        overflow: hidden;
        pointer-events: none;
        // color set
        .ball-inside {
          &.grass {
            background-color: #49d0b0;
          }
          &.fire {
            background-color: #fb6d6c;
          }
          &.normal {
            background-color: #9fa19f;
          }
          &.fighting {
            background-color: #ff8000;
          }
          &.flying {
            background-color: #81b9ef;
          }
          &.poison {
            background-color: #9141cb;
          }
          &.ground {
            background-color: #915121;
          }
          &.rock {
            background-color: #afa981;
          }
          &.bug {
            background-color: #aab937;
          }
          &.ghost {
            background-color: #704170;
          }
          &.steel {
            background-color: #60a1b8;
          }
          &.water {
            background-color: #75befc;
          }
          &.electric {
            background-color: #fac000;
          }
          &.psychic {
            background-color: #ef4179;
          }
          &.ice {
            background-color: #3fd8ff;
          }
          &.dragon {
            background-color: #5060e1;
          }
          &.dark, &.shadow {
            background-color: #646464;
          }
          &.fairy {
            background-color: #ef70ef;
          }
          &.unknown {
            background-color: #c9c9c9;
          }
        }
        .ball-inside {
          width: 100px;
          height: 100px;
          position: absolute;
          bottom: 25%;
          right: 5rem;
          z-index: 3;
          transform: translate(50%, 50%);
          border-radius: 50%;
          &::after {
            content: '';
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 4;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #ffffff30;
          }
          &::before {
            content: '';
            width: 210px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center center;
            background-color: inherit;
          }
        }
        .ball-outside {
          width: 200px;
          height: 200px;
          position: absolute;
          bottom: 25%;
          right: 5rem;
          transform: translate(50%, 50%);
          z-index: 0;
          border-radius: 50%;
          background-color: #ffffff30;
        }
      }
    }
    .box-bottom {
      width: 100%;
      height: 55%;
      background-color: #fdfdfd;
      border-radius: 22px;
      font-family: 'Poppins', sans-serif;
      overflow: hidden;
      .navBar {
        margin-top: 2rem;
        width: 100%;
        .nav-box {
          margin: 0 1rem .5rem;
          font-weight: 400;
          color: #9a9a9a;
          border-bottom: 1px solid #c9c9c9;
          cursor: pointer;

          display: grid;
          grid-template-columns: 1fr 1fr;
          text-align: center;
          .about.active,
          .moves.active {
            color: #222;
            border-bottom: 2px solid #222;
            font-weight: 500;
          }
        }
      }
      .info-content {
        width: 100%;
        height: calc(100% - 80px);
        padding: 0 2rem;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .about-wrapper {
          .about-box {
            overflow-y: scroll;
            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
        .moves-wrapper {
          .moves-box {
            .moves-content {
              display: flex;
              flex-wrap: wrap;
              h3 {
                width: 50%;
                font-size: 1rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.pokemon-card-box {
  &.grass {
    background-color: #49d0b0;
  }
  &.fire {
    background-color: #fb6d6c;
  }
  &.normal {
    background-color: #9fa19f;
  }
  &.fighting {
    background-color: #ff8000;
  }
  &.flying {
    background-color: #81b9ef;
  }
  &.poison {
    background-color: #9141cb;
  }
  &.ground {
    background-color: #915121;
  }
  &.rock {
    background-color: #afa981;
  }
  &.bug {
    background-color: #aab937;
  }
  &.ghost {
    background-color: #704170;
  }
  &.steel {
    background-color: #60a1b8;
  }
  &.water {
    background-color: #75befc;
  }
  &.electric {
    background-color: #fac000;
  }
  &.psychic {
    background-color: #ef4179;
  }
  &.ice {
    background-color: #3fd8ff;
  }
  &.dragon {
    background-color: #5060e1;
  }
  &.dark, &.shadow {
    background-color: #646464;
  }
  &.fairy {
    background-color: #ef70ef;
  }
  &.unknown {
    background-color: #c9c9c9;
  }
}

.title {
  margin: .5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  color: #9a9a9a;
  width: 180px;
}

.value {
  font-size: 1rem;
  font-weight: 400;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@media screen and (max-width: 899px) {
  .pokemon-card-wrapper {
    width: 350px;
    height: 60vh;
    .pokemon-card-box {
      width: 350px;
      .box-top {
        .pokemon-image {
          img {
            width: 250px;
            height: 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .pokemon-card-wrapper {
    width: 300px;
    height: 55vh;
    .pokemon-card-box {
      width: 300px;
      .box-top {
        .pokemon-image {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 619px) {
  .pokemon-card-wrapper {
    width: 100vw;
    height: calc(100vh - 120px);
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 999;
    background-color: #00000090;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .pokemon-card-box {
      width: 400px;
      height: 80%;
      box-shadow: none;
      .box-top {
        .back-icon {
          display: block;
        }
        .pokemon-image {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .pokemon-card-wrapper {
    .pokemon-card-box {
      width: 300px;
      height: 90%;
    }
  }
}