.main-container {
  min-height: calc(100vh - 120px);
  .main-container-wrapper {
    min-height: calc(100vh - 120px);
    width: 90%;
    margin: 0 auto;
    .cards-container {
      width: 60%;
      max-height: calc(100vh - 120px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .cards {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 2rem 0;
        flex-wrap: wrap;
        gap: 1rem;
      }
      .learn-more {
        .learn-more-btn {
          width: 140px;
          height: 50px;
          font-family: 'Poppins', sans-serif;
          font-size: 1.15rem;
          border: 2px solid #FFCE02;
          background-color: transparent;
          margin-bottom: 2rem;
          cursor: pointer;
          position: relative;
          &::after {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: #FFCE02;
            transition: width .2s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
        .lds-facebook {
          display: inline-block;
          position: relative;
          width: 130px;
          height: 50px;
          border: 2px solid #FFCE02;
          margin-bottom: 2rem;
          & div {
            display: inline-block;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            top: 50%;
            background: #2B56B1;
            transform: translate(-50%, -50%);
            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            &:nth-child(1) {
              left: 30%;
              animation-delay: -0.3s;
            }
            &:nth-child(2) {
              left: 50%;
              animation-delay: -0.15s;
            }
            &:nth-child(3) {
              left: 70%;
              animation-delay: 0;
            }
          }
        }
      }
    }
    .no-favorite {
      font-family: 'Poppins', sans-serif;
      text-align: center;
      h1 {
        font-size: 3rem;
        font-weight: 500;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
        color: #FFCE02;
      }
      .find-btn {
        display: block;
        border: none;
        margin: 1rem auto;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        padding: .5rem 2rem;
        border: 2px solid #2B56B1;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: transform .5s ease;
        &::after {
          content: '';
          width: 300px;
          height: 300px;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(-50%, 50%) scale(0, 0);
          background-color: #2B56B1;
          transition: transform .6s ease;
        }
        &:hover {
          transform: translate(10px, 10px);
        }
        &:hover .link {
          color: #f5f6f7;
        }
        &:hover::after {
          transform: translate(-50%, 50%) scale(1, 1);
        }
        .link {
          text-decoration: none;
          color: #222;
          position: relative;
          z-index: 3;
          transition: color .5s ease;
        }
      }
    }
  }
}


@keyframes lds-facebook {
  0%, 10% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}